@model WebApplication3.Models.Strategy

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Strategy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceStopLoss)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceStopLoss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symbol.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TradeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TradeType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
